.product-details-header {
    align-items: center;
    background-color: #254441;
    display: flex;
    justify-content: space-between;
    height: 80px;
    margin-bottom: 50px;
    padding: 20px;
}

.product-details-header div h2, .product-details-header a {
  background-color: #254441;
  color: white;
}

.product-details-header a {
  text-decoration: inherit;
}

.product-details-section {
  background-color: white !important;
  border-radius: 20px;
  margin: 0 30px;
  padding: 25px;
}
 
.product-details-section h4 {
  background-color: white;
  color: #254441;
  margin: 0 5%;
  text-align: center;
}

.product-image-and-specifications {
  align-items: center;
  background-color: white;
  color: #254441;
  display: flex;
  flex-wrap: wrap;
  font-size: large;
  justify-content: space-evenly;
  margin-top: 50px;
}

.product-image-and-specifications div {
  background-color: #C9D1D0;
  border: 3px solid #254441;
  border-radius: 20px;
  padding: 2% 9%;
}

.product-image-and-specifications img {
  height: 200px;
  width: 200px;
}

.product-image-and-specifications h5, .product-image-and-specifications div {
  background-color: #C9D1D0;
}

.product-image-and-specifications h5 {
  font-size: large;
  font-weight: 600;
}

.product-image-and-specifications div ul {
  background-color: #C9D1D0;
  margin-top: 10px;
}
.product-image-and-specifications div li {
  background-color: #C9D1D0;
  list-style-type: none;
  text-align: left;
}

.product-image-and-specifications div li span {
  background-color: #C9D1D0;
  font-weight: 600;
}