.product-list-header {
  align-items: center;
  background-color: #254441;
  color: white;
  display: flex;
  height: 80px;
  justify-content: center;
}

.product-list-header h1 {
  background-color: #254441;
  color: white;
  text-align: center;
}

.product-search-section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0;
}

.product-search-section p {
  color: #254441;
  font-size: large;
  font-weight: 600;
  margin: 0 0 20px 0;
  text-align: center;
}

.product-input-search i {
  color: #254441;
  cursor: pointer;
  margin: 22px 450px 0 0;
  position: absolute;
}

.product-input-search a {
  color: #254441;
  text-decoration: inherit;
  margin: 22px 0 0 550px;
  position: absolute;
}

.product-input-search {
  display: flex;
  justify-content: center;
}

.input-field {
  background-color: white;
  border: 2px solid #254441;
  border-radius: 15px;
  color: #254441;
  font-size: large;
  font-weight: 600;
  height: 40px;
  padding: 0 50px;
  width: 400px;
}

.input-field:hover, .input-field:focus {
  outline: 1px solid #C9D1D0;
}

.product-categories-section {
  align-self: center;
  margin: 20px auto;
}


.product-categories-section label {
  color: #254441;
  font-size: large;
  font-weight: 600;
  display: block;
}

#product-categories:hover, #product-categories:focus {
  outline: 1px solid #C9D1D0;
}

.product-categories-section select {
  background-color: white;
  border-radius: 15px;
  border: 2px solid #254441;
  color: #C9D1D0;
  font-weight: 600;
  height: 30px;
  padding: 0 3px;
  width: 300px;
}

.product-categories-section select option {
  background-color: white;
  color: #254441;
  font-weight: 600;
}
.product-list-section {
  background-color: #C9D1D0;
  display: flex;
  padding: 30px 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.product-list-section i {
  color: #254441;
}

@media screen and (max-width: 768px) {
  .product-list-header {
    height: 40px;
  }

  .product-list-header h1 {
    font-size: large;
    font-weight: 600;
  }

  .input-field {
    border-radius: 15px;
    height: 20px;
    width: 300px;
    font-size: small;
    text-align: left;
  }
  
  .product-input-search i {
    margin: 12px 330px 0 0;
    font-size: medium;
  }
  
  .product-search-section a {
    font-size: large;
    margin: 12px 0 0 390px;
  }
  
  .input-field {
    padding: 0 30px;
  }

  .product-categories-section select {
    height: 20px;
    width: 200px;
  }

  .product-search-section p, .product-categories-section label {
    font-size: xx-small;
    font-weight: 500;
  }
}

@media screen and (max-width: 450px) {
  .input-field {
    width: 150px;
    font-size: xx-small;
  }

  .product-categories-section label {
    font-size: x-small;
  }

  .product-categories-section select {
    font-size: xx-small;
  }

  .product-input-search i {
    margin: 12px 180px 0 0;
    font-size: medium;
  }

  .product-input-search a {
    margin: 12px 0 0 240px;
    font-size: medium;
  }
}