.product-list-header {
  align-items: center;
  background-color: #4c5760;
  color: white;
  display: flex;
  height: 80px;
  justify-content: center;
}

.product-list-header h1 {
  text-align: center;
  background-color: #4c5760;
}

.product-search-section {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 0;
}

.product-search-section p {
  margin: 0 0 20px 0;
}

.product-input-search i {
  color: #4C5760;
  cursor: pointer;
  margin: 22px 450px 0 0;
  position: absolute;
}

.product-input-search a {
  color: #4C5760;
  text-decoration: inherit;
  margin: 22px 0 0 550px;
  position: absolute;
}

.product-search-section p {
  color: #4C5760;
  font-size: medium;
  font-weight: 500;
}

.product-input-search {
  display: flex;
  justify-content: center;
}

.input-field {
  border: 2px solid black;
  border-radius: 15px;
  height: 40px;
  padding: 0 50px;
  font-size: larger;
  width: 400px;
}

.input-field:hover, .input-field:focus {
  outline: 1px solid #93A8AC;
}

.product-categories-section {
  align-self: center;
  margin: 20px auto;
  font-size: medium;
  font-weight: 500;
}


.product-categories-section label {
  display: block;
}

#product-categories:hover, #product-categories:focus {
  outline: 1px solid #93A8AC;
}

.product-categories-section select {
  border-radius: 15px;
  border: 2px solid black;
  padding: 0 3px;
}

.product-list-section {
  display: flex;
  margin: 30px 20px;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .product-list-header {
    height: 40px;
  }

  .product-list-header h1 {
    font-size: large;
    font-weight: 600;
  }

  .input-field {
    border-radius: 15px;
    height: 20px;
    width: 300px;
    font-size: small;
    text-align: left;
  }
  
  .product-input-search i {
    padding: 19px 0px;
    font-size: medium;
  }
  
  .product-search-section a {
    color: rgb(45, 50, 118);
    font-size: large;
    text-decoration: inherit;
    margin: 10px;
  }
  
  .input-field {
    padding: 0 30px;
  }


  .product-search-section p {
    font-size: xx-small;
    font-weight: 500;
  }
}

@media screen and (max-width: 450px) {
  .input-field {
    width: 150px;
    font-size: xx-small;
  }

  .product-categories-section label {
    font-size: x-small;
  }

  .product-categories-section select {
    font-size: xx-small;
  }

  .product-input-search i {
    padding: 20px 0px;
    font-size: medium;
  }
}

@media screen and (max-width: 300px) {
  .product-input-search i {
    padding: 13px 0;
    font-size: small;
  }
}