.product-card {
  align-items: center;
  border: 2px solid rgb(45, 50, 118);
  border-radius: 20px;
  height: 350px;
  margin: 15px 30px;
  overflow: hidden;
  width: 200px;
}

.product-card h5 {
  background-color: #4C5760;
  color: white;
  text-align: center;
  height: 40px;
  padding: 10px 10px;
  text-align: center;
}

.product-card img {
  margin: 20px 0;
  width: 30%;
  height: 30%;
}

.product-card a, .product-card button {
  background-color: #66635B;
  border: 0px;
  border-radius: 10px;
  color: white !important;
  display: block;
  font-size: small;
  font-weight: 500;
  margin: 10px auto;
  width: 100px;
  padding: 10px;
  text-decoration: inherit;
  cursor: pointer;
}