.product-card {
  align-items: center;
  background-color: white;
  border: 2px solid #254441;
  border-radius: 20px;
  height: 400px;
  margin: 15px 30px;
  overflow: hidden;
  text-align: center;
  width: 200px;
}

.product-card h5 {
  background-color: #254441;
  color: white;
  text-align: center;
  height: 40px;
  padding: 10px 10px;
  text-align: center;
}

.product-card img {
  margin: 10px 0;
  width: 45%;
  height: 45%;
}

.product-card p {
  background-color: white;
  color: #254441;
  font-weight: 600;
}

.product-card a, .product-card button {
  align-items: center;
  background-color: #254441;
  border: none;
  border-radius: 10px;
  color: white !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  font-size: small;
  font-weight: 600;
  height: 40px;
  margin: 10px auto;
  text-decoration: inherit;
  width: 130px;
}